@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-image-slide {
  animation: scaleImage 12s linear infinite;
}

.animate-text-slide {
  animation: opacityText 1s linear;
}

.animate-button-slide{
  animation: fromLeft 1s linear;
}

@keyframes scaleImage {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes opacityText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
